* {
  font-family: 'Chivo', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  font-size: 16px;

  /* Primary */
  --green: #54e6af;
  --green-hover: #b3ffe2;

  /* Neutral */
  --black: #121725;
  --dark-gray: #2c344b;
  --gray: #5a668a;
  --light: #c2cbe5;

  --red: #fb3e3e;

  /* Typography */
  --h1: 3.25rem;
  --h1-line-height: 62px;

  --body: 1.125rem;
  --body-line-height: 28px;

  --body-s: 0.875rem;
  --body-s-line-height: 28px;

  --error: 0.75rem;
}

h1 {
  text-transform: uppercase;
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight: 300;
}

.body-text {
  font-size: var(--body);
  line-height: var(--body-line-height);
}

.body-s-text {
  font-size: var(--body-s);
  line-height: var(--body-s-line-height);
}

.error-text {
  font-size: var(--error);
}

@media (max-width: 768px) {
  :root {
    --h1: 3rem;
    --h1-line-height: 56px;
  }
}

@media (max-width: 375px) {
  :root {
    --h1: 1.625rem;
    --h1-line-height: 38px;

    --body: 0.9375rem;
    --body-line-height: 25px;
  }
}
