.btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: var(--body-s);
  line-height: var(--body-s-line-height);
  border-radius: 28px;
  padding: 9px 27px;
  font-weight: 700;
}

.btn-primary {
  background-color: var(--green);
  color: var(--black);
}

.btn-primary:focus,
.btn-primary:hover {
  transition: all 0.2s ease-in-out;
  background-color: var(--green-hover);
}
