.container {
  position: relative;
  background-color: var(--black);
  padding: 130px 0 165px 130px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 640px;
  width: 100%;
}

.navbar {
  position: relative;
  z-index: 2;
  top: -30px;
}

.header-img {
  position: absolute;
  max-width: 888px;
  top: 0;
  right: 0;
}

.header-dots {
  position: absolute;
  bottom: -52px;
  right: 0;
}

.header {
  background-color: var(--black);
  z-index: 2;
  padding-right: 82px;
  padding-top: 88px;
  max-width: 730px;
}

.header-title {
  color: #fff;
}

.header-title span {
  color: var(--green);
}

.header-description {
  color: var(--light);
  margin: 24px 0 40px 0;
  max-width: 445px;
}

.header-platforms {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 64px;
}

.header-platform:not(:last-child) {
  margin-right: 40px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  border-radius: 28px;
  max-width: 445px;
  width: 100%;
  padding: 6px;
}

.input {
  outline: none;
  background: none;
  border: none;
  color: #fff;
  padding: 12px 20px;
  font-weight: 700;
  flex-grow: 1;
  height: 100%;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.error-text {
  display: block;
  visibility: hidden;
  color: var(--red);
  margin-left: 26px;
  margin-top: 8px;
  font-weight: 700;
}

/* Form invalid styles */
.subscribe-form-invalid .error-text {
  visibility: visible;
}

.header-mobile-bg {
  display: none;
}

@media (max-width: 1025px) {
  .header-img {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 50px 0 0 40px;
    min-height: 1024px;
  }

  .inner-container {
    min-height: 715px;
  }

  .navbar {
    top: 0;
  }

  .header {
    padding: 93px 0 0 0;
    max-width: 635px;
  }

  .header-description {
    margin-top: 31px;
  }

  .header-dots {
    bottom: -258px;
    left: 0;
  }

  .header-img {
    top: unset;
    object-fit: cover;
    max-width: 491px;
    /* Account for padding at top */
    height: calc(100% + 50px);
    right: 0;
    bottom: 0;
  }

  .header-platform:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 62px 25px 94px 25px;
    min-height: 0;
  }

  .inner-container {
    align-items: center;
    min-height: 0;
  }

  .header-img,
  .header-dots {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    background-color: unset;
    padding-top: 57px;
  }

  .header-title,
  .header-description {
    text-align: center;
  }

  .header-description {
    margin: 16px auto 33px auto;
  }

  .header-platforms {
    order: 3;
    justify-content: space-between;
    margin: 0 0 48px 0;
  }

  .header form {
    order: 4;
  }

  .header-platform img {
    max-width: 100%;
  }

  .input-container {
    background-color: unset;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }

  .input {
    background-color: var(--dark-gray);
    padding: 15px 32px;
    border-radius: 28px;
    margin-bottom: 16px;
  }

  .error-text {
    margin-left: 32px;
  }

  .header-mobile-bg {
    position: absolute;
    display: block;
    object-fit: cover;
    opacity: 10%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}
